body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #067d9b80;
}

.logo {
    max-width: 100px;
    margin-left: 40px;
    
}

.quem-somos {
    background-color: #2874A6;
    color: #fff;
}

.margin {
    padding-top: 20px;
    padding-bottom: 30px;
}

.team{
    width: 400px;
    height: 400px;
}

.subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
}

.parceiros {
    background-color:#D6EAF8;
}

.img1 {
    width: 400px;
}

.bg-footer {
    background-color: rgb(122, 122, 122);
    color: #fff;
}

.social {
    margin-left: 50px;
    margin-right: 30px;
}
.follow{
    margin-top: 15px;
}
